<!DOCTYPE html>
<html>
    <head>
        <title>Polls</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    </head>
    <body>
        <style>
            *{
                list-style: none;
            }
            .center{
                text-align: center;
            }
            .ques{
                color: blue;
            }
        </style>
        <nav class="navbar expand-dark bg-dark">
            <ul class="nav navbar-nav">
                <li class="navbar-bigbrand"><a href="#" class="nav-link" style="color: white; font-size:20px;">Polls</a></li>
                <li><a href="{% url 'polls:index'%}" class="nav-link-right" style="color: white;">Home</a></li>
            </ul>
        </nav>
        {% block content %}


        {% endblock %}
    </body>
</html>